body {
    font-family: Arial, sans-serif;
}

/*-------------------------------------NAVBAR------------------------------------*/

header {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
}

nav ul li a button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2vh;
}

.add-button {
    background-color: #008CBA;
}

#panel1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#temp-int, #temp-ext{
    text-align: center;
}

/*-------------------------------------THERMOMETERS------------------------------------*/

section {
    width: 80%;
    margin: auto;
}

.thermometer{
    height: 200px;
    width: 50px;
    background-color: #ccc;
    margin: auto;
    position: relative;
    border-radius: 25px;
}

.thermometer-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 25px;
}

/* style css pour le tab  */
[role="tablist"] {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

[role="tab"] {
    background: none;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

[role="tab"][aria-selected="true"] {
    font-weight: bold;
}

[role="tabpanel"] {
    padding: 20px;
    border: 1px solid #ccc;
    height: 600px; /* Adjust as needed */
}



.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* style css pour le message  */
#message {
    position: relative;
    padding: 20px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#message:before {
    content: '';
    position: absolute;
    width: 0;
    height: calc(100% - 44px);
    border-left: 1px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
}

#message i {
    margin-right: 10px;
}

#message.alert-success {
    border-color: rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12);
    box-shadow: 0 0 2px #259c08;
    color: #0ad406;
}

#message.alert-info {
    border-color: rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12);
    box-shadow: 0 0 2px #0396ff;
    color: #0396ff;
}

#message.alert-warning {
    border-color: rgba(241, 142, 6, 0.81);
    background-color: rgba(252, 187, 66, 0.12);
    box-shadow: 0 0 2px #ffb103;
    color: #ffb103;
}

#message.alert-danger {
    border-color: rgba(241, 6, 6, 0.81);
    box-shadow: 0 0 2px #ff0303;
    color: #ff0303;
    background-color: rgba(252, 66, 66, 0.12);
}

/* style css pour le thermometre  */
.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}

/*-------------------------------------GRAPH------------------------------------*/
#graph {
    width: 100%; /* Full width */
    height: 50vh; /* Half of the viewport height */
    margin: auto;
}

/*-------------------------------------HISTORIQUE------------------------------------*/
#history {
    display: flex;
    justify-content: space-between;
}

#history-interior {
    width: 45%;
}

#history-exterior {
    text-align: right;
}
/*-------------------------------------MEDIA QUERIES------------------------------------*/


@media only screen and (max-width : 900px){
    header{
        padding: 0 30px;
        background-color: white;
    }

    nav ul li a{
        color: #000;
    }

    nav ul li a button{
        color: white;
    }

    section{
        width: 95%;
    }

    #panel1{
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {
    header{
        margin-bottom: 2vh;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li:last-child {
        margin-bottom: 0;
    }

    nav ul li a {
        padding: 10px;
    }

    nav ul li a button {
        padding: 10px;
    }

}

/*-------------------------------------GRAPH------------------------------------*/
@media only screen and (max-width: 767px) {
    #graph {
        height: 70vh; /* Increase the height on small screens */
    }
}

/*-------------------------------------Adaptation ecran ------------------------------------*/


/* Style for large screens (desktops, laptops) */
@media only screen and (min-width: 1200px) {
    /* Add your CSS styles for large screens here */
}

/* Style for medium screens (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    /* Add your CSS styles for medium screens here */
}

/* Style for small screens (phones) */
@media only screen and (max-width: 767px) {
    /* Add your CSS styles for small screens here */
}

/*-------------------------------------Hitstorique------------------------------------*/

/* Style for large screens (desktops, laptops) */
@media only screen and (min-width: 1200px) {
    #history {
        display: flex;
        justify-content: space-between;
    }

    #history-interior, #history-exterior {
        width: 45%;
    }
}

/* Style for medium screens (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    #history {
        display: flex;
        flex-direction: column;
    }

    #history-interior, #history-exterior {
        width: 100%;
    }
}

/* Style for small screens (phones) */
@media only screen and (max-width: 1000px) {
    #history {
        display: flex;
        flex-direction: column;
    }

    #history-interior, #history-exterior {
        width: 100%;
    }
}